*.DS_Store
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# IntelliJ Files
.idea/
WorldDomination.iml
**/.idea/workspace.xml

# Package Files #
!library/**/*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin

.gwt/
gwt-unitCache/

*.nocache.js

war/config.codekit
war/WEB_INF/classes/.gitignore
